<h2><%= "#{@labels.length} Label".pluralize(@labels.length) %></h2>

<% if !flash[:notice].blank? %>
	<p><%= flash[:notice] %></p>
<% end %>

<p>Create a new label</p>
<form action="/labels" method="post">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="text" name="name" placeholder="Name" /><br />
  <input type="text" name="description" placeholder="Description (optional)" /><br />
  Append to Case: 
	<select name="case_id">
		<% @cases.each do |first, last| %>
		  <option value="<%= last %>"><%= first %></option>
	  <% end %>
	</select>
	<br />

  <input type="submit" name="Submit" />
</form>

<ul>
	<% @labels.each do |label| %>
		<li style="margin-bottom: 10px;">
			Name: <%= label["name"] %>
			<br />
			Description: <%= label["description"] %>
		</li>
	<% end %>
</ul>